<nav class="navbar container justify-content-center">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'optive-logo@2x.png', id: 'logo' %>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav">
      <% if user_signed_in? %>
        <div class="nav-item">
         <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link"  %>
        </div>
      <% else %>
        <div class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
