/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$headings: 'Space Mono', monospace;
$black: #1D1B1B;
$white: #F6F6F6;
$green: #3FA796;
$gray: #90AACB;
$seamoss: #1DB9C3;


h1, h2 {
  font-weight: 700;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: $white;
}

#icon-button {
  font-size: 3rem;
  color: $black;
}

::selection {
  color: $white;
  background: $seamoss;
}

a {
  color: $seamoss;
}

.nav-link {
  color: $seamoss;
}



a:link {
  text-decoration: none;
}


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.btn-outline-primary {
  border: 2px solid $black;
  border-radius: 1px;
  color: $black;
  &:hover {
    background-color: $black;
    border: 2px solid $black;
    color: $white;
  }
  width: 100%;
  font-size: 2rem;
}

.navbar-nav {
  float: right;
  margin: 0;
}

.activity-title {
  font-size: 2rem;
}

.alert {
  border-radius: 0;
}

.alert-info {
  background-color: $seamoss;
  color: $white;
}

.close {
  float: right;
  font-family: 'Space Mono', monospace;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: $white;
  text-shadow: none;
  filter: alpha(opacity=20);
  opacity: 1;
}

#logo {
  width: 100px;
  box-shadow: none;
}

.form-control {
  border-radius: 0px;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid $black;
  background-color: $white;

}

.form-control:focus {
  border-bottom: 1px solid $seamoss;
  background-color: $white;
  box-shadow: none;
}

.form-control:hover {
  border-bottom: 3px solid $seamoss;
}

.form-check-input {
  background-color: $white;
  border-radius: 0px!important;
  border: 1px solid $black;
}

.form-check-input:focus {
  border-color: $seamoss;
  background-color: $white;
  box-shadow: none;
  outline: 0px auto;
  outline-offset: 0px;
}

.form-check-input:checked {
  border-color: $seamoss;
  background-color: $seamoss;
}

// mobile
@media (max-width: 480px) {
  h3 {
    font-size: 5rem;
  }

  .activity-title {
  font-size: 2rem;
  // border-bottom: 2px solid $black;
  }

  .list-bundle {
  border-top: 2px solid $black;
  }
}

// tablet
@media (max-width: 768px) {

}

// laptop
@media (max-width: 1024px) {

}

// large desktop
@media (max-width: 1200px) {

}
