
<div class="index-container mt-5">
  <h3 class="mb-5">Your activities</h3>
  <ul>
      <% @activities.each do |activity| %>
        <li>
          <p class="activity-listed py-3"><%= activity.title %></p>
        </li>
      <% end %>
  </ul>
  <%= link_to 'add new', new_activity_path, class:'btn btn-outline-primary' %>
</div>
