
<div class="index-container mt-5">
  <h3 class="mb-5">Your activities</h3>
  <ul>
      <% @activities.each do |activity| %>
        <li>
          <p class="activity-listed py-3"><%= activity.title %></p>
          <%= link_to "Delete", activity, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-outline-primary' %>
          <%= link_to "Edit", edit_activity_path(activity), class:'btn btn-outline-primary' %>
        </li>
      <% end %>
  </ul>
  <%= link_to 'add new', new_activity_path, class:'btn btn-outline-primary' %>
</div>
